$icomoon-font-path: "fonts" !default;

$icomoon-hash: "\e914";
$icomoon-globe: "\e90b";
$icomoon-office: "\e902";
$icomoon-profile: "\e900";
$icomoon-exit: "\e907";
$icomoon-news: "\e90d";
$icomoon-key: "\e909";
$icomoon-profile: "\e900";
$icomoon-exit: "\e907";
$icomoon-menu2: "\e90a";
$icomoon-chevron-right: "\e90c";
$icomoon-youtube-play: "\e913";
$icomoon-facebook: "\e912";
$icomoon-google2: "\e911";
$icomoon-linkedin: "\e910";
$icomoon-twitter: "\e90f";
$icomoon-linkedin-square: "\e90e";
$icomoon-chevron-left: "\e908";
$icomoon-earth: "\e903";
$icomoon-envelope: "\e904";
$icomoon-book: "\e905";
$icomoon-man: "\e906";
$icomoon-download: "\e901";

